{% extends "template.html" %}
{% block best_active %}active{% endblock %}
{% block title %}Best Cars{% endblock %}
{% block content %}
<br>
<center>
    <h1>
        Best Cars
    </h1>
</center>
<hr>
<div class="container">
    <p>
        This search allows you to view all posts on your local craigslist with annual mileage under the given mileage below.
        The car make and models are taken from 
        <a href='https://santanderconsumerusa.com/blog/25-vehicles-that-hold-value-best-over-five-years-iseecars-com'>Santander Consumer USA</a>
        based on value retention over 5 years. Althugh not all results are from the past 5 years, older versions of these cars 
        still retain value well, and so those cars are displayed.
        If the post has no mileage listed next to 'odometer:', then the post will be ignored.
        Leave price blank for all results, or filter by price by inputing a maximum price.
    </p>
</div>
<center>
    <form action="" method="POST" novalidate>
        {{form.hidden_tag()}}
        <p>
            {{form.target_price(size=32, placeholder="Max Target Price:")}}
        </p>
        <p>
            {{form.target_annual_mileage(size=32, placeholder="Annual Milage:")}}
        </p>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        <p>
            {{form.checkbox.label}}
            {{form.checkbox()}}
        </p>
        <p>
            {{form.submit()}}
        </p>
    </form>
</center>
{% endblock %}