{% extends "template.html" %}
{% block best_active %}active{% endblock %}
{% block title %}Filtered{% endblock %}
{% block content %}
<br>
<center>
    <h1>
        Filtered Results
    </h1>
</center>
<hr>
<div class="container-fluid">
    {% for dict in list_cars %}
        <p>
            <div class="row">
                {% for key in dict %}
                    {% if key == 'Pic Link:' %}
                        {% if dict[key] == '' %}
                            <div class="col-lg-4">
                                <center><p>No Picture</p></center>
                            </div>
                            <div class="col-lg-8">
                        {% else %}
                            <div class="col-lg-4">
                                <center><img src='{{dict[key]}}' alt="car-pic" width="300" height="300"/></center>
                            </div>
                            <div class="col-lg-8">
                        {% endif %}
                    {% elif key == 'Url:' %}
                        {{key}} <a href='{{dict[key]}}'>{{dict[key]}}</a><br>
                    {% elif dict[key] != '' %}
                        {{key}} {{dict[key]}} <br>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </p>
        <hr>
    {% endfor %}
</div>
{% endblock %}